*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 20px;
}

a:visited{
  text-decoration: none;
  text-decoration-style: none;
}

a{
  text-decoration: none;
  text-decoration-style: none;
  color: inherit;
}

button {
  cursor: pointer;
}

/* NAV */

nav{
  width: 100%;
  height: 8rem;
}

nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  max-width: 90%;
  height: 5rem;
  margin: 0 auto 1rem auto;
  padding: 1rem auto 1rem auto;
  list-style-type: none;
}

nav li{
  font-size: 1.5rem;
}

@media only screen and (max-width: 1000px){
  nav li{
    font-size: 2rem;
  }
}

.projects-nav{
  text-decoration-style: none;
  text-decoration: none;
}

.contact-nav{
  text-decoration-style: none;
  text-decoration: none;
}

/* burger nav */

.burger{
  display: none;
}

@media only screen and (max-width: 1000px){
  nav{
    display: none;
  }
  .burger{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    width: 100%;
    height: 20rem;
    overflow: hidden;

  }
  .fa-bars{
    transform: scale(3);
    margin: 7rem auto 0rem auto;
    cursor: pointer;
  }
  .burger-ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 20rem;

  }
  .burger-ul li {
    font-size: 3rem;
    font-family: 'Poiret One', cursive;
  }
  .burger-nav{
    background-color: #FBF4E9;
    height: 20rem;
    margin: 3rem auto 0 auto;

}
.fa-window-close{
  position: absolute;
  transform: scale(3) translate(10rem, 0.7rem);
  cursor: pointer;
}




}

/* BODY */

body{
  font-family: 'Poiret One', cursive;
  text-align: center;
}

.container{
max-width: 100%;
background-color: #FFE6E6;
overflow: hidden;
margin: 0 auto 0 auto;
}

/* INTRO */

#intro{
max-width: 100%;
height: 35rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
overflow: hidden;
}

.intro-main-title{
  text-align: center;
  font-size: 5rem;
  max-width: 80%;
  font-family: 'Poiret One', cursive;
}

.intro-main-title2{
  text-align: center;
  font-size: 3rem;
  max-width: 80%;
  font-family: 'Poiret One', cursive;
}

@media only screen and (max-width: 1000px){
  #intro{
    height: 70rem;
    justify-content: flex-start;
  }
  .intro-main-title{
    margin: 8rem auto 8rem auto;
    font-size: 6rem;
  }
}

@media only screen and (max-width: 500px){
  .intro-main-title{
    font-size: 4rem;
    margin-bottom: 10rem;
  }
}


/* PROJECTS */

#projects{
max-width: 90%;
max-height: 250rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
background-color: #FDF6F0;
margin: 5rem auto 5rem auto;
}

.projects-title{
  text-align: left;
  font-size: 6rem;
  z-index: 10;
  margin: 5rem auto 5rem auto;
}

@media only screen and (max-width: 500px){
  .projects-title{
    font-size: 4rem;
  }
}

/* ROAD 2 DANISH PROJECT */

#moet-project{
  width: 90%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 5rem auto;
  background-image: url('moet/moet2.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  filter: drop-shadow(2px 2px 5px);
  text-align: center;
}

#moet-project:hover{
filter: drop-shadow(5px 5px 15px);
}

.moet-title{
  font-size: 5rem;
  color: white;
  text-shadow: 5px 2px #FF7171;
}


.moet-btn{
  background-color: #FF7171;
  font-size: 1.5rem;
  color: white;
  border-radius: 5rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  transform: translateY(3rem);
  border: 1px solid #FF7171;
  cursor: pointer;
  transition: background-color 0.5s ease, filter 0.5s ease, border-radius 0.5s ease;

}

.moet-btn:hover{
  background-color: white;
  filter: drop-shadow(2px 2px 7px white);
  border-radius: 0rem;
  text-shadow: none;
  color: #FF7171;
}

@media only screen and (max-width: 951px){
  .moet-btn{
      transform: translateY(4rem);
  }
}

@media only screen and (max-width: 570px){
  .moet-title{
    font-size: 3rem;
  }
}


/* VOLKSWAGEN */

#volkswagen-project{
width: 90%;
height: 25rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 2rem auto 2rem auto;
background-image: url('volkswagen/volkswagen1.jpg');
background-position: center;
background-size: cover;
border-radius: 30px;
overflow: hidden;
filter: drop-shadow(2px 2px 5px);
text-align: center;
}

#volkswagen-project:hover{
filter: drop-shadow(5px 5px 15px);
}

.volkswagen-title{
  font-size: 5rem;
  color: white;
  text-shadow: 5px 2px #825959;
}

.volkswagen-btn{
  background-color: white;
  font-size: 1.5rem;
  color: #825959;
  border-radius: 5rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  transform: translateY(6rem);
  border: 1px solid white;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.5s ease, filter 0.5s ease, border-radius 0.5s ease;
}

.volkswagen-btn:hover{
  filter: drop-shadow(2px 2px 7px);
  border-radius: 0rem;
  background-color: #825959;
  color: white;
}

@media only screen and (max-width: 1196px){
  .volkswagen-btn{
    transform: translateY(3rem);
  }
}

@media only screen and (max-width:692px){
  .volkswagen-title{
    font-size: 3rem;
  }
  .volkswagen-btn{
    transform: translateY(4rem);
  }
}

@media only screen and (max-width: 415px){
  .volkswagen-btn{
    font-size: 1rem;
    transform: translateY(4rem);
  }
}

/* ADA PROJECT */

#ada-project{
  width: 90%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 5rem auto;
  background-image: url("ada/ada2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  overflow: hidden;
  filter: drop-shadow(2px 2px 5px);
  text-align: center;

}

#ada-project:hover{
filter: drop-shadow(5px 5px 15px);
}

.ada-title{
  font-size: 5rem;
  color: white;
  text-shadow: 5px 2px #0F1123;
}

.ada-btn{
  background-color: #0F1123;
  font-size: 1.5rem;
  color: white;
  border-radius: 5rem;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  transform: translateY(6rem);
  border: 1px solid white;
  cursor: pointer;
  transition: background-color 0.5s ease, filter 0.5s ease, border-radius 0.5s ease;
  margin: 0 auto 1rem auto;
}

.ada-btn:hover{
  background-color: #121013;
  filter: drop-shadow(2px 2px 7px);
  border-radius: 0rem;
}

@media only screen and (max-width: 852px){
  .ada-title{
    font-size: 3rem;
  }
}

/* MUSEUM PROJECT */

#museum-project{
  width: 90%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 5rem auto;
  background-image: url("museum/museum1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  overflow: hidden;
  filter: drop-shadow(2px 2px 5px);
  text-align: center;
}

#museum-project:hover{
filter: drop-shadow(5px 5px 15px);
}

.museum-title{
  font-size: 5rem;
  color: white;
  text-shadow: 5px 2px #7C99AC;
}

.museum-btn{
  background-color: #7C99AC;
  font-size: 1.5rem;
  color: white;
  border-radius: 5rem;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  transform: translateY(6rem);
  border: 1px solid white;
  cursor: pointer;
  transition: background-color 0.5s ease, filter 0.5s ease, border-radius 0.5s ease;
  margin: 0 auto 1rem auto;
}

.museum-btn:hover{
  background-color: white;
  filter: drop-shadow(2px 2px 7px);
  border-radius: 0rem;
  color: #7C99AC;
}


@media only screen and (max-width: 852px){
  .museum-title{
    font-size: 3rem;
  }
}


/* CEPITA PROJECT */

#cepita-project{
  width: 90%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 5rem auto;
  background-image: url("cepita/cepita2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  overflow: hidden;
  filter: drop-shadow(2px 2px 5px);
  text-align: center;
}

#cepita-project:hover{
filter: drop-shadow(5px 5px 15px);
}

.cepita-title{
  font-size: 5rem;
  color: white;
  text-shadow: 5px 2px #91C483;
}

.cepita-btn{
  background-color: #91C483;
  font-size: 1.5rem;
  color: white;
  border-radius: 5rem;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  transform: translateY(6rem);
  border: 1px solid white;
  cursor: pointer;
  transition: background-color 0.5s ease, filter 0.5s ease, border-radius 0.5s ease;
  margin: 0 auto 1rem auto;
}

.cepita-btn:hover{
  background-color: white;
  filter: drop-shadow(2px 2px 7px);
  border-radius: 0rem;
  color: #91C483;
}


@media only screen and (max-width: 852px){
  .cepita-title{
    font-size: 3rem;
  }
}

/* SHUTTERSTOCK PROJECT */

#shutterstock-project{
  width: 90%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto 5rem auto;
  background-image: url("shutterstock/shutterstock1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  overflow: hidden;
  filter: drop-shadow(2px 2px 5px);
  text-align: center;
}

#shutterstock-project:hover{
filter: drop-shadow(5px 5px 15px);
}

.shutterstock-title{
  font-size: 5rem;
  color: white;
  text-shadow: 5px 2px #222831;
}

.shutterstock-btn{
  background-color: #222831;
  font-size: 1.5rem;
  color: white;
  border-radius: 5rem;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  transform: translateY(6rem);
  border: 1px solid white;
  cursor: pointer;
  transition: background-color 0.5s ease, filter 0.5s ease, border-radius 0.5s ease;
  margin: 0 auto 1rem auto;
}

.shutterstock-btn:hover{
  background-color: white;
  filter: drop-shadow(2px 2px 7px);
  border-radius: 0rem;
  color: #222831;
}


@media only screen and (max-width: 852px){
  .shutterstock-title{
    font-size: 3rem;
  }
}



/* ABOUT */

#about{
  width: 80%;
  max-height: 280rem;
  margin: 1rem auto 1rem auto;
}

.about-title{
  text-align: left;
  font-size: 6rem;
  margin: 2rem auto 0rem auto;
}

.about-p{
  margin: 2rem auto 1rem auto;
  font-size: 3rem;
  text-align: left;
}

.advertising{
  color: blue;
}

@media only screen and (max-width: 500px){
  .about-title{
    font-size: 4rem;
  }
  .about-p{
    font-size: 2rem;
  }
}


.line-pre-stack{
  max-width: 30rem;
  margin: 8rem auto 1rem auto;
  border: none;
  background: black;
  height: 0.2rem;
  opacity: 0.5;
}

/* STACK */

.stack{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 20rem;
}

.stack-title{
  text-align: center;
  font-size: 4rem;
  margin: 5rem auto 5rem auto;
}

.stack-programmes{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
  margin: 0rem auto 2rem auto;
}

.program{
  transform: scale(4);

}

.fa-html5:hover{
  transform: scale(4.3);

}

.fa-css3-alt:hover{
  transform: scale(4.3);
}

.fa-bootstrap:hover{
  transform: scale(4.3);
}

.fa-js{
  transform: scale(4);
}

.fa-js:hover{
  transform: scale(4.3);
}

.fa-git-alt:hover{
  transform: scale(4.3);
}

.tools{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 25rem;
  height: 5rem;
  margin: 2rem auto 1rem auto;
}

.illustrator{
  width: 80px;
  height: auto;
}

.photoshop{
  width: 80px;
  height: auto;
}

.premiere{
  width: 87px;
  height: auto;
  transform: scale(2);
}

@media only screen and (max-width: 707px){
  .stack-title{
    font-size: 3rem;
  }
  .stack-programmes{
    width: 15rem;
  }

  .program{
    transform: scale(3);
  }

  .fa-js{
    transform: scale(3);
  }
  .fa-git-alt{
    transform: scale(3);
  }
  .tools{
    width: 15rem;
    height: 5rem;
  }
  .illustrator{
    width: 60px;
    height: auto;
  }

  .photoshop{
    width: 60px;
    height: auto;
  }

  .premiere{
    width: 67px;
    height: auto;
    transform: scale(2);
  }
}

@media only screen and (max-width: 530px){
  .stack-title{
    font-size: 3rem;
  }
  .stack-programmes{
    width: 12rem;
  }

  .program{
    transform: scale(2.5);
  }

  .fa-js{
    transform: scale(2.5);
  }
  .fa-git-alt{
    transform: scale(2.5);
  }
  .tools{
    width: 12rem;
    height: 5rem;
  }
}

.line-pre-chat{
  max-width: 30rem;
  margin: 8rem auto 1rem auto;
  border: none;
  background: black;
  height: 0.2rem;
  opacity: 0.5;
}

/* CHAT */

#chat{
  width: 100%;
  height: 30rem;
}

.chat-title{
  text-align: center;
  font-size: 4rem;
  margin: 6rem auto 5rem auto;
}

.kaffe-contact{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
  height: 12rem;
  margin: 1rem auto 1rem auto;
  transform: scale(1.4);
}

.phone-number{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8rem;
}

.envelope-mail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8rem;
}

.fa-phone{
  margin-bottom: 1rem;
}

.fa-envelope{
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1000px){
.kaffe-contact{
  flex-direction: column;
  transform: scale(2);
  height: 12rem;
  margin: 4rem auto 1rem auto;
}
.chat-title{
  margin-bottom: 10rem;
}
#chat{
  height: 38rem;
}
}

@media only screen and (max-width: 560px){
  .mail{
    font-size: 0.8rem;
  }
}


/* FOOTER */

#footer{
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #FFDEDE;
}

.name-footer{
  font-size: 3rem;
  font-family: 'Poiret One', cursive;
  margin: 2rem auto 4rem auto;
  text-shadow: 3px 2px #FDEFEF;
}

.footer-icons{
  width: 15rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transform: scale(2);
  margin: 0 auto 2rem auto;
}

@media (max-width: 620px){
  .name-footer{
    font-size: 2.5rem;
  }
  .footer-icons{
    width: 8rem;
  }
}

@media only screen and (max-width: 510px){
  .name-footer{
    font-size: 2.5rem;
  }

}

@media only screen and (max-width: 400px){
  .name-footer{
    font-size: 1.5rem;
  }
  .footer-icons{
    width: 5rem;
  }
}
