*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 20px;
}

body{
  font-family: 'Poiret One', cursive;
  text-align: center;
  background-color: #FFE6E6;
}

.moet-title{
  font-size: 5rem;
  color: white;
  text-shadow: 5px 2px #FF7171;
  margin: 6rem auto 3rem auto;
}

h3{
  display: block;
  margin: 2rem auto;
  border-bottom: 0.5px solid #FF7171;
  text-shadow: 2px 1px #FF7171;
  color: white;
}

.moet-info{
  font-size: 1.5rem;
  color: black;
  margin: 6rem auto 3rem auto;
  text-align: left;
  width: 80%;
}

.moet-idea{
  text-align: right;
}

.moet-video{
  margin-bottom: 5rem;
  filter: drop-shadow(5px 5px 15px);
  width: 80%;
  height: auto;
}
