*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 20px;
}

body{
  font-family: 'Poiret One', cursive;
  text-align: center;
  background-color: #FFE6E6;
}

.shutterstock-title{
  font-size: 5rem;
  color: white;
  text-shadow: 5px 2px #222831;
  margin: 6rem auto 3rem auto;
}

.shutterstock-video{
  margin-bottom: 5rem;
  filter: drop-shadow(5px 5px 15px);
}
